@page
@using BugTracker.Models
@model User
@{
    ViewData["Title"] = "User";
    var user = (Models.User) ViewData["User"]!;
}

@section Scripts
{
    <partial
        name = "Shared/_ValidationScriptsPartial"/>
}

<h1>Modify User</h1>
<form
    method = "post">
    <label
        for = "userId">
        User Id:
    </label>
    <input
        class = "form-control"
        id = "userId"
        name = "UserId"
        readonly
        type = "number"
        value = "@user.UserId"/>
    <label
        for = "userName">
        User Name:
    </label>
    <input
        asp-for = "UserName"
        class = "form-control"
        id = "userName"
        name = "UserName"
        type = "text"
        value = "@user.UserName"/>
    <span
        asp-validation-for = "UserName"
        class = "alert-danger">
    </span>
    <br>
    <label
        for = "firstName">
        First Name:
    </label>
    <input
        asp-for = "FirstName"
        class = "form-control"
        id = "firstName"
        name = "FirstName"
        type = "text"
        value = "@user.FirstName">
    <span
        asp-validation-for = "FirstName"
        class = "alert-danger">
    </span>
    <br>
    <label
        for = "lastName">
        Last Name:
    </label>
    <input
        asp-for = "LastName"
        class = "form-control"
        id = "lastName"
        name = "LastName"
        type = "text"
        value = "@user.LastName"/>
    <span
        asp-validation-for = "LastName"
        class = "alert-danger">
    </span>
    <br>
    <label
        for = "email">
        Email:
    </label>
    <input
        asp-for = "Email"
        class = "form-control"
        id = "email"
        name = "Email"
        type = "email"
        value = "@user.Email"/>
    <span
        asp-validation-for = "Email"
        class = "alert-danger">
    </span>
    <br>
    <label
        for = "authLevel">
        Authorization Level:
    </label>
    <select
        asp-for = "@user.AuthenticationLevel"
        asp-items = "Html.GetEnumSelectList<AuthenticationLevel>()"
        class = "form-control"
        id = "authLevel"
        name = "AuthLevel">
    </select>
    <br>
    <button
        class = "btn btn-primary">
        Submit
    </button>
</form>
<br>
<form
    asp-page-handler = "delete"
    method = "post">
    <input
        hidden
        name = "UserId"
        value = "@ViewData["_userId"]"/>
    <button
        class = "btn btn-danger">
        Delete
    </button>
</form>