@page
@using BugTracker.Models
@model Ticket

@{
    var ticket = (Models.Ticket) ViewData["Ticket"];
}

<form
    method = "post">
    <div
        class = "row">
        <div
            class = "col col-sm-4">
            <label
                for = "ticketId">
                Ticket ID:
            </label>
            <input
                class = "form-control"
                id = "ticketId"
                name = "TicketId"
                readonly
                type = "text"
                value = "@ticket.TicketId"/>
            <label
                for = "loggerId">
                Logger ID:
            </label>
            <input
                class = "form-control"
                id = "loggerId"
                name = "LoggerId"
                readonly
                type = "text"
                value = "@ticket.LoggerId"/>
            <label
                for = "workerId">
                Worker ID:
            </label>
            <input
                class = "form-control"
                id = "workerId"
                name = "WorkerId"
                type = "text"
                value = "@ticket.WorkerId"/>
            <label
                for = "statusIndCd">
                Ticket Status:
            </label>
            <select
                asp-for = "@ticket.StatusIndCd"
                asp-items = "Html.GetEnumSelectList<StatusIndCd>()"
                class = "form-control"
                id = "statusIndCd"
                name = "StatusIndCd">
            </select>
        </div>
        <div
            class = "col">
            <label
                for = "title">
                Title:
            </label>
            <input
                class = "form-control"
                id = "title"
                name = "Title"
                type = "text"
                value = "@ticket.Title"/>
            <label
                for = "desc">
                Description:
            </label>
            <textarea 
                class="form-control"
                id = "desc" 
                name = "Desc"
                rows = "7">@ticket.Description
            </textarea>
        </div>
    </div>
    <label
        for = "resolution">
        Resolution:
    </label>
    <textarea  
          class="form-control" 
          id = "resolution"
          name = "Resolution">@ticket.Resolution
    </textarea>
    <br>
    <button
        class = "btn btn-primary"
        type = "submit">
        Save
    </button>
</form>