@page
@model User
@{
    // Data entry for the page.
    // This data is in a list format so you can foreach over it.
    var users = (IList<Models.User>) @ViewData["Users"];
}

<div>
    <ul
        class = "list-group list-group-flush">
        @foreach (var user in users)
        {
            <li
                class = "list-group-item">
                @user.UserId
                <input
                    class = "form-control"
                    value = "@user.Name"/>
                <input
                    class = "form-control"
                    value = "@user.Password"/>
                <input
                    class = "form-control"
                    value = "@user.ActiveInd.ToString()"/>
            </li>
        }
    </ul>
</div>